<!DOCTYPE html>
<html lang="en">
<head>
  {{>header}}
      <link rel="stylesheet" href="css/style.css">
</head>
<body>
    
    <!---- Title Bare---->

    {{>navbar}}

        <!---- body ---->

        <div class="containter-fluid main_header">
            <div class="row">
                <div class="col-md-11 col-12 mx-auto">
                    <div class="row">
                      
                      <!---- Left Side div ---->
                      
                      <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="IMG/undraw_developer_activity_bv83.svg" class="img-fluid">
                        </figure>
                      </div>
                      
                      <!---- Right Side div ---->
    
                      <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to weather web</p>
                        <h1>I am Suraj Mondal</h1>
                        <h1>I am An <span class="weathertext">UI/UX Designer, Developer</span> And A Freelancer</h1>
                        <a href="/weatherl"><button>Download CV</button></a>
                      </div>                     
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer -->

        {{>footer}}
    
</body>
</html>